$basecolors: 'pink', 'green';

$font-color: (
  pink: #cf4f98,
  green: #529d9d,
  purple: #3d3270,
);
$font-color-subtext: (
  pink: #f5b4d8,
  green: #92d1d1,
  purple: #b8b3d2,
);
$bg-color-orange: #fff3f1;
$bg-color: (
  pink: #ffeef8,
  green: #e0f4f4,
  purple: #ebe9f2,
);
